.button {
  border-radius: 4px;
  background: #327CCB;
  color: white;
  display: inline-block;
  padding: 0.512em;
  text-decoration: none;

  &:focus,
  &:hover {
    background: shade(#327CCB, 10%);
    color: white;
  }

  &:visited { color: white; }
}
