$desktop: new-breakpoint(min-width 720px 12);

.portfolio-transition {
  background: rgb(252, 252, 253) url(../img/transition_bg.png) no-repeat;
  background-position: top;
}

.portfolio {
  padding-top: 2em;

  h1 {
    font-weight: 600;
    margin: 1em;
  }
}

$r: 4px;

.piece {
  background: whitesmoke;
  border-radius: $r;

  @include media($desktop) {
    max-width: 80%;
    margin: 0 auto;
  }

  &-info {
    padding: 1em;

    h2 {
      color: #0C152A;
      font-weight: 500;
      margin: 0;
    }

    .tags {
      color: silver;
      font-size: 0.8em;
      font-style: italic;
      margin: 0.512em 0;
    }
  }

  &-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: $r;
    border-bottom-right-radius: $r;
    min-height: 300px;
  }
}
